:root{
    --primary: #e2a466;
    --bg: #010101;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg);
    color: white;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    background-color: rgba(1, 1, 1, 0.8);
    border-bottom: 1px solid #463523;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 950;
}

.navbar .navbar-logo{
    font-family: 'Merienda', sans-serif;
    font-size: 1.85rem;
    font-weight: 700;
    color: var(--primary);
}

.navbar .navbar-logo span{
    color: #fff;
}

.navbar .navbar-anchor a{
    color: #fff;
    display: inline-block;
    font-size: 1.25rem;
    margin: 0 1.1rem;
}

.navbar .navbar-anchor a:hover {
    color: var(--primary);
}

.navbar .navbar-anchor a::after{
    content: '';
    display: block;
    padding-bottom: 0.35rem;
    border-bottom: 0.1rem solid var(--primary);
    transform: scaleX(0);
    transition: 0.2s linear;
}

.navbar .navbar-anchor a:hover::after{
    transform: scaleX(0.7);
}

.navbar .navbar-extra a{
    color: #fff;
    margin: 0 .5rem;
}

.navbar .navbar-extra a:hover{
    color: var(--primary);
}

#hamburger-menu{
    display: none;
}

/* Hero Section */
.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url('img/coffee-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero::after{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 30%;
    bottom: 0;
    background: linear-gradient(0deg,
    rgba(1, 1, 3, 1) 7%, rgba(255, 255, 255, 0) 45%);
}

.hero .content {
    padding: 1.5rem 5%;
    max-width: 60rem;
}

.hero .content h1 {
    font-size: 3em;
    color:#fff;
    text-shadow: 1.5px 1px 2px rgba(1, 1, 1, 0.5);
    line-height: 1.15;
}

.hero .content h1 span{
    color: var(--primary);
}

.hero .content p{
    font-size: 1.25rem;
    margin-top: 1rem;
    line-height: 1.1;
    text-shadow: 1.5px 1px 2px rgba(1, 1, 3, 0.5);
}

.hero .content .cta{
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.4rem;
    color: #fff;
    background-color: var(--primary);
    border-radius: 10px;
    box-shadow: 1.5px 1px 2px rgba(1, 1, 3, 0.5);

}

.about{
    padding: 8.35rem 7% 1.2rem;
}

.about h2{
    font-size: 2.3rem;
    margin-bottom: 3rem;
    text-align: center;
}

.about .row{
    display: flex;
}

.about .row .about-img{
    flex: 1 1 45 rem;
}

.about .row .about-img img{
    width: 100%;
}

.about .row .content{
    flex: 1 1 30rem;
    padding: 0 1rem;
}

.about .row h3{
    font-size: 2rem;
    margin-bottom: 1rem;
}

.about .row .content p{
    margin-bottom: 0.8rem;
    font-size: 1.2rem;
    font-weight: 200;
    line-height: 1.5;
}

/* Media Queries */
/* Laptop */
@media (max-width: 1366px) {
    html {
        font-size: 85%;
    }
}

/* Tablet */
@media (max-width: 768px) {
    html {
        font-size: 72%;
    }

    #hamburger-menu {
        display: inline-block;
    }

    .navbar .navbar-anchor{
        position: absolute;
        top: 100%;
        right: -100%;
        background: #fff;
        width: 20rem;
        height: 100vh;
        transition: 0.5s linear;
    }

    .navbar .navbar-anchor a{
        color: var(--bg);
        display: block;
        margin: 1.5rem;
        font-size: 1.7rem 10%;
    }

    .navbar .navbar-anchor a::after{
        transform-origin: 0 0;
    }

    .navbar .navbar-anchor a:hover::after{
        transform-origin: 0 0;
        transform: scaleX(0.2);
    }

    .navbar .navbar-anchor.active {
        right: 0;
    }
}

/* Mobile Phone */
@media (max-width: 450px) {
    html {
        font-size: 65%;
    }
}